<div>
  <h2 id="page-heading" data-cy="OwnershipPropertyHeading">
    <span jhiTranslate="myApp.ownershipProperty.home.title">Ownership Properties</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myApp.ownershipProperty.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ownership-property"
        [routerLink]="['/ownership-property/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myApp.ownershipProperty.home.createLabel"> Create a new Ownership Property </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ownershipProperties?.length === 0">
    <span jhiTranslate="myApp.ownershipProperty.home.notFound">No Ownership Properties found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ownershipProperties && ownershipProperties.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="value">
            <div class="d-flex">
              <span jhiTranslate="myApp.ownershipProperty.value">Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type.id">
            <div class="d-flex">
              <span jhiTranslate="myApp.ownershipProperty.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ownership.id">
            <div class="d-flex">
              <span jhiTranslate="myApp.ownershipProperty.ownership">Ownership</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ownershipProperty of ownershipProperties; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ownership-property', ownershipProperty.id, 'view']">{{ ownershipProperty.id }}</a>
          </td>
          <td>{{ ownershipProperty.value }}</td>
          <td>
            <div *ngIf="ownershipProperty.type">
              <a [routerLink]="['/property-type', ownershipProperty.type.id, 'view']">{{ ownershipProperty.type.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ownershipProperty.ownership">
              <a [routerLink]="['/ownership', ownershipProperty.ownership.id, 'view']">{{ ownershipProperty.ownership.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ownership-property', ownershipProperty.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ownership-property', ownershipProperty.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ownershipProperty)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
