<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-meter-heading" data-cy="MeterCreateUpdateHeading" jhiTranslate="myApp.meter.home.createOrEditLabel">
        Create or edit a Meter
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.meter.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.meter.amrWeek" for="field_amrWeek">Amr Week</label>
          <input type="number" class="form-control" name="amrWeek" id="field_amrWeek" data-cy="amrWeek" formControlName="amrWeek" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.meter.amrYear" for="field_amrYear">Amr Year</label>
          <input type="number" class="form-control" name="amrYear" id="field_amrYear" data-cy="amrYear" formControlName="amrYear" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.meter.utility" for="field_utility">Utility</label>
          <select class="form-control" name="utility" formControlName="utility" id="field_utility" data-cy="utility">
            <option [ngValue]="null">{{ 'myApp.Utility.null' | translate }}</option>
            <option *ngFor="let utility of utilityValues" [value]="utility">{{ 'myApp.Utility.' + utility | translate }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.meter.loadType" for="field_loadType">Load Type</label>
          <select class="form-control" name="loadType" formControlName="loadType" id="field_loadType" data-cy="loadType">
            <option [ngValue]="null">{{ 'myApp.LoadType.null' | translate }}</option>
            <option *ngFor="let loadType of loadTypeValues" [value]="loadType">{{ 'myApp.LoadType.' + loadType | translate }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.meter.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.meter.lastReading" for="field_lastReading">Last Reading</label>
          <div class="input-group">
            <input
              id="field_lastReading"
              data-cy="lastReading"
              type="text"
              class="form-control"
              name="lastReading"
              ngbDatepicker
              #lastReadingDp="ngbDatepicker"
              formControlName="lastReading"
            />
            <button type="button" class="btn btn-secondary" (click)="lastReadingDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.meter.contactEmail" for="field_contactEmail">Contact Email</label>
          <input
            type="text"
            class="form-control"
            name="contactEmail"
            id="field_contactEmail"
            data-cy="contactEmail"
            formControlName="contactEmail"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.meter.parent" for="field_parent">Parent</label>
          <select
            class="form-control"
            id="field_parent"
            data-cy="parent"
            name="parent"
            formControlName="parent"
            [compareWith]="compareMeter"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="meterOption" *ngFor="let meterOption of parentsCollection">{{ meterOption.id }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.meter.alternative" for="field_alternative">Alternative</label>
          <select
            class="form-control"
            id="field_alternative"
            data-cy="alternative"
            name="alternative"
            formControlName="alternative"
            [compareWith]="compareMeter"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="meterOption" *ngFor="let meterOption of alternativesCollection">{{ meterOption.id }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.meter.peer" for="field_peer">Peer</label>
          <select class="form-control" id="field_peer" data-cy="peer" name="peer" formControlName="peer" [compareWith]="comparePeer">
            <option [ngValue]="null"></option>
            <option [ngValue]="peerOption" *ngFor="let peerOption of peersSharedCollection">{{ peerOption.id }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.meter.provider" for="field_provider">Provider</label>
          <select
            class="form-control"
            id="field_provider"
            data-cy="provider"
            name="provider"
            formControlName="provider"
            [compareWith]="compareProvider"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="providerOption" *ngFor="let providerOption of providersSharedCollection">{{ providerOption.id }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.meter.namespace" for="field_namespace">Namespace</label>
          <select
            class="form-control"
            id="field_namespace"
            data-cy="namespace"
            name="namespace"
            formControlName="namespace"
            [compareWith]="compareNamespace"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="namespaceOption" *ngFor="let namespaceOption of namespacesSharedCollection">{{ namespaceOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
