<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="service">
      <h2 data-cy="serviceDetailsHeading"><span jhiTranslate="myApp.service.detail.title">Service</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="myApp.service.id">Id</span></dt>
        <dd>
          <span>{{ service.id }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.service.name">Name</span></dt>
        <dd>
          <span>{{ service.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/service', service.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
